<div class="container">
  <h2>Education Time Line</h2>
  <div class="main-timeline">
    <!-- start experience section-->
    <div class="timeline">
      <div class="icon"></div>
        <div class="date-content">
          <div class="date-outer">
            <span class="date">
              <span class="month">2 Years</span>
              <span class="year">2014</span>
            </span>
          </div>
        </div>
        <div class="timeline-content">
          <h5 class="title">SSLC</h5>
          <div class="description"> 
            <p><strong>School: </strong>Walker Hr. Sec. School</p>
            <p><strong>Mark: </strong>449/500 (89.8%)</p>
            <p><strong>Place: </strong>Dohnavur, Tirunelveli - 627</p>
          </div>
        </div>
      </div>
    <!-- end experience section-->
  
                          <!-- start experience section-->
                          <div class="timeline">
                              <div class="icon"></div>
                              <div class="date-content">
                                  <div class="date-outer">
                                      <span class="date">
                                              <span class="month">2 Years</span>
                                      <span class="year">2016</span>
                                      </span>
                                  </div>
                              </div>
                              <div class="timeline-content">
                                  <h5 class="title">HSC</h5>
                                  <div class="description"> 
                                    <p><strong>School: </strong>Walker Hr. Sec. School</p>
                                    <p><strong>Mark: </strong>972/1200 (81%)</p>
                                    <p><strong>Place: </strong>Dohnavur, Tirunelveli - </p>
                                  </div>
                              </div>
                          </div>
                          <!-- end experience section-->
  
                          <!-- start experience section-->
                          <div class="timeline">
                              <div class="icon"></div>
                              <div class="date-content">
                                  <div class="date-outer">
                                      <span class="date">
                                              <span class="month">4 Years</span>
                                      <span class="year">2020</span>
                                      </span>
                                  </div>
                              </div>
                              <div class="timeline-content">
                                  <h5 class="title">Engineering Degree</h5>
                                  <div class="description"> 
                                    <p><strong>College: </strong>PET Engineering College</p>
                                    <p><strong>CGPA: </strong>7.77/10 (77.7%)</p>
                                    <p><strong>Place: </strong>Vallioor, Tirunelveli - 627</p>
                                  </div>
                              </div>
                          </div>
                          <!-- end experience section-->
  
                          <!-- start experience section-->
                          <div class="timeline">
                              <div class="icon"></div>
                              <div class="date-content">
                                  <div class="date-outer">
                                      <span class="date">
                                              <span class="month">2 Years</span>
                                      <span class="year">2018</span>
                                      </span>
                                  </div>
                              </div>
                              <div class="timeline-content">
                                  <h5 class="title">Graphic Designer</h5>
                                  <div class="description"> 
                                    <p><strong>School: </strong>Walker Hr. Sec. School</p>
                                    <p><strong>Mark: </strong>449/500 (89.8%)</p>
                                    <p><strong>Place: </strong>Dohnavur</p>
                                  </div>
                              </div>
                          </div>
                          <!-- end experience section-->
  
                      </div>
  </div>